/* Base Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.container {
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
}
.btn{
    padding: 16px 32px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s ease;
}

.btn--primary{
    background-color: #469165; 
    color: #ffffff; 
    padding: 15px 19px;
    border-radius: 4px;
}

.btn--primary:hover{
    background-color: #367b50; 
}

.btn--accent{
    background-color: #30B868; 
    color: #ffffff; 
}

.btn--accent:hover{
    background-color: #59ab78; 
}

.btn--outline{
    background: transparent;
    color: #ffffff; 
    border: 1px solid #ffffff; 
    border-radius: 4px;
}

.btn--outline:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.navbar {
    max-width: 1600px; 
    margin: auto;
    padding: 20px 120px;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar__link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.hero{
    max-width: 1600px;
    margin: 20px auto 0;
    height: 674px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero__badge{
    background-color: #ffffff;
    color: #469165;
    padding: 0 16px;
    border-radius: 1000px;
    height: 35px;
    border: none;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    margin-bottom: 24px;

}
.hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero__title--main{color: #ffffff;}
.hero__title--accent{color: #ffffff;}


.hero__description {
    color: #ffffff; 
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
}

.hero__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.features-grid{
    padding-top: 130px;
}
.section-header{
    text-align: center;
    margin-bottom: 60px;
}
.section-header__title{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
}
.section-header__subtitle {
    color: #868383;
    font-size: 16px;
}
.features-grid__row {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.feature-card {
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0 rgba(0,0,0,0.18);
}

.feature-card__icon {
    background-color: #F95555; 
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
}

.feature-card__title {
    font-size: 15px;
    color: #181818;
    margin-bottom: 20px;
}

.feature-card__text {
    font-size: 16px;
    color: #474747; 
    line-height: 26px;
}
.solution-split{
    padding: 120px; 
}

.solution-split__container {
    max-width: 1600px; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 80px; 
}

.solution-split__media, .solution-split__info{
    flex: 1;
}

.solution-split__tag{
    color: #30B868; 
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    display: block;
}

.solution-split__title{
    font-size: 48px;
    line-height: 1.2;
    color: #000;
    margin-bottom: 24px;
    font-weight: 700;
}

.solution-split__desc {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 30px;
}

.solution-split__list {
    list-style: none;
}

.solution-split__list-item{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.cta {
    width: 90%;
    max-width: 1360px;
    margin: 0 auto;
    background-color: #f7f6f2; 
    border-radius: 12px;
    padding: 80px 40px;
    text-align: center;
}

.cta__title {
    font-size: 40px;
    margin-bottom: 16px;
}

.cta__text {
    font-size: 18px;
    color: #555;
    margin-bottom: 32px;
}

.cta__button {
    margin: 0 auto 12px;
}

.cta__small-text {
    display: block;
    color: #888888; 
    font-size: 14px;
}


.footer {
    background-color: #001931; 
    color: #ffffff; 
    padding: 120px 120px 30px;
    margin-top: 60px;
}

.footer__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer__social-group {
    text-align: right;
}

.footer__social-icons {
    display: flex;
    gap: 16px;
    margin-top: 12px;
}

.footer__social-link {
    color: #ffffff; 
    text-decoration: none;
}

.footer__copyright {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.footer__copyright p {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
